{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/style.css">
    <title>voice-x | About</title>
</head>
<body>
    <br><br>
  <h1>About VOICE-X</h1>
  <br>
  <p style="font-size: 1.5rem;">
    voice-x is a modern day application that focuses on civic engagement and empowers the greatness of crowdfunding and support of general citizens. voice-x lets you upvote campaigns of your choice, donate to the ones that are requiring money, create your own campaign and garner support from people from all over the world. We are keen on making the app as usable and to the point as possible. For that, we've kept a really sleek and simple User Interface where you can easily navigate through features and use the app efficiently.</p>

</body>
</html>

{% include 'footer.html' %}