{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/style.css">
    <title>voice-x | Help</title>
</head>
<body>
    <br><br>
  <h1>Help</h1>
  <br>
  <p style="font-size: 1.5rem;">
    Facing some issues while using the app, need general support of found a bug or maybe you just wanna contribute to voice-x? contact us at https://github.com/aakzsh/voicex</p>

</body>
</html>

{% include 'footer.html' %}