{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/style.css">
    <title>voice-x | Home</title>
</head>
<body>
    <style>
        .new{
            cursor: pointer;
            border-radius: 20rem;
            height: 5rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #505887;
            position: fixed;
            right: 2rem;
            bottom: 2rem;
            transform: rotate(45deg);
        }
    </style>
<div class="new" onclick="window.location.href='/new'">
    <img src="static/images/close.png" alt="">
</div>

    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
    <br><br>
    <p>hemlo</p>
</body>
</html>

