<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/style.css">
    <title>voice-x | Welcome</title>
    
</head>
<body>
    {% include 'navbar.html' %}
    <br><br><br><br>
    <h1>hemlooooooooooooooooooooooooooooooooooooooo</h1>

    {% include 'footer.html' %}
</body>
</html>