{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/style.css">
    <title>voice-x | Privacy Policy</title>
</head>
<body>
    <br><br>
  <h1>Privacy Policy</h1>
  <br>
  <p style="font-size: 1.5rem;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam odio diam, bibendum non fermentum sit amet, vestibulum condimentum neque. Proin eu neque id lacus commodo pulvinar. Suspendisse enim dui, congue in convallis ut, volutpat id ex. Phasellus porta quam sed augue vulputate pulvinar. Nunc imperdiet mollis sem, a ultricies purus faucibus vel. Suspendisse potenti. Praesent tempus facilisis est eu tincidunt. Maecenas pellentesque ut nunc a eleifend. Aenean quis nunc nec sem lobortis aliquet. Pellentesque tortor risus, gravida pharetra vestibulum gravida, molestie id metus. Quisque sit amet dolor dictum, elementum arcu in, tincidunt leo.</p>

</body>
</html>

{% include 'footer.html' %}