{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/style.css">
    <title>voice-x | Success Stories</title>
</head>
<body>
    <style>
        .story-grid{
            display: grid;
        grid-area: span;
        }
        .story{
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 2rem;
            padding-left: 2rem;
            background-color: #505887;
            margin-bottom: 5rem;
        }
    </style>
    <br><br><h1>Success Stories</h1>

    <div class="story-grid">
       <div class="story">
<h2>title</h2>
<p>desc</p>
       </div>
       <div class="story">
        <h2>title</h2>
        <p>desc</p>
               </div>
               <div class="story">
                <h2>title</h2>
                <p>desc</p>
                       </div>
                       <div class="story">
                        <h2>title</h2>
                        <p>desc</p>
                               </div>

    </div>
</body>
</html>